<a 
    class="button {{button.meta.class}}" 
    href="{{button.url}}" 
    title="{{button.title}}">
        {{#if button.meta.icon}}
            <img src='{{button.meta.icon}}' />
        {{/if}}
        {{button.text}}
</a>