{{> header this.navigation }}
{{> video-bg }}
<main>
	<div class="container registration">
		<div class="row">
			<div class="inner-container col-12 flex in-column center-center light" >
				<div class="company-logo">
					<img src="{{logo.url}}" alt="{{logo.alt}}" title="{{logo.title}}" />
				</div>
				<div class="company-destription">
					<p class="sentence">{{description.text}}</p>
				</div>
				<div class="sign-in_form">
					<form action="/register" method="post">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<label for='name'>{{form.name}}:</label>
								<input required type="text" name="name"/>
							</div>
							<div class="col-md-6 col-sm-12">
								<label for='surname'>{{form.surname}}:</label>
								<input required type="text" name="surname"/>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-12">
								<label for='email'>{{form.email}}:</label>
								<input required type="email" name="email" />
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-12">
								<label for='password'>{{form.password}}:</label>
								<input required type="password" name="password" />
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-12 section-title_small">
								<h5>Dane korespondencyjne</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-12">
								<label for='street'>{{form.street}}</label>
								<input required type="text" name="street" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<label for='city'>{{form.city}}</label>
								<input required type="text" name="city" />
							</div>
							<div class="col-md-6 col-sm-12">
								<label for='postalCode'>{{form.postalCode}}</label>
								<input required type="text" name="postalCode" />
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-12">
								<label for='phone'>{{form.phone}}</label>
								<input required type="tel" name="phone" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 inline checkbox">			
								<input required type="checkbox" name="policy" {{form.policy.checked}}>
								<label for="policy">{{form.policy.text}}<a href="{{form.policy.url}}">{{form.policy.linkText}}</a></label>
							</div>
						</div>
						<div>
							<input 
								type="submit" 
								value="{{form.button.text}}"
								class="button {{form.button.meta.class}}"
								/>
						</div>
					</form>
					<div class="policy_link">{{> link}}</div>
					{{#if form.alert}}
							<div class="alert-box">
									{{form.alert}}
							</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</main>



