{{> header this.menu }}

<main class="disable-video">
    <div class="user-panel">
        <div class="welcome-section flex light in-column end-center">
            <div class="inner-container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="avatar">
                            <img src="{{main.avatar.url}}">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 flex center-center">
                        <h2 class="sentence">{{main.sentence}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 details">
                        <div class="name">{{main.name}}</div>
                        <div class="date">{{main.birth}} - {{main.death}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-content">
            <div class="row">
                <div class="col-md-8 col-sm-12 user-text">
                    <h4>Opis</h4>
                    <p>{{main.text}}</p>
                </div>
                <div class="col-md-4 col-sm-12 user-files">
                    <h4>Pliki</h4>
                    <ul>
                        {{#each main.documents}}
                            <li><a target="_blank" href="{{url}}" title={{title}} >{{name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 user-gallery">
                    <h4>Galeria</h4>
                    <div class="row">
                        <div class="gallery-wrapper">
                        {{#each main.gallery}}
                            <div class="col-md-4 col-sm-12 image">
                                <a href="{{url}}" data-lightbox="gallery">
                                    <img src="{{url}}" alt="{{alt}}" title="{{title}}"/>
                                </a>
                            </div>
                        {{/each}}
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button class="button solid">Załaduj więcej zdjęć</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>