{{> header this.navigation }}
{{> video-bg }}
<main>
	<div class="container login">
		<div class="row">
			<div class="col-12 fh flex in-column center-center light" >
				<div class="company-logo">
					<img src="{{logo.url}}" alt="{{logo.alt}}" title="{{logo.title}}" />
				</div>
				<div class="company-destription">
					<p class="sentence">{{description.text}}</p>
				</div>
				<div class="sign-in_form">
					<form id="authenticate-form">
						<div>
							<input
								required
								type="email"
								name="username"
								placeholder="{{form.username.placeholder}}"
							/>
						</div>
						<div>
							<input
								required
								type="password"
								name="password"
								placeholder="{{form.password.placeholder}}"
							/>
						</div>
						<div>
							<input 
								type="submit" 
								value="{{form.button.text}}"
								class="button {{form.button.meta.class}}"
								/>
						</div>
					</form>
					<div class="sign-up_link">{{> link this.registration}}</div>
					<div class="forgot-password_link">{{> link this.forgotPassword}}</div>
					<div id="alert-box" class="alert-box"></div>
				</div>
			</div>
		</div>
	</div>
</main>



